/* layout */
#map{ position:fixed; left:0; top:0; width:100%; height:100%; -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; transform-origin: 0 0; }
#button{ position:fixed; font-size:15px; left:1em; bottom:1em; padding:.5em 1em; background:#fff; cursor:pointer; z-index:1; }
